<% include article_top.ejs %>

<div class="category_title_container">
    <p class="shiny_category_text"><a href="/#work">WORK</a></p>
    <p class="category_title_text">Any.do</p>
    <p class="category_subtitle">Senior Mobile Developer</p>
</div>

<div class="general_text">
    <h3>The Company</h3>
    <p>
        Any.do is a family of apps designed to help have a good day, every day. The team started with solving the
        problem
        of day to day productivity with the Any.do to-do list. In less than a year, Any.do has become the most popular
        task
        management app on mobile. The app currently helps millions in getting more organized while feeling satisfied
        with
        their everyday life. In June of 2013 the company has announced it’s next product: Cal - a simple, fun and
        surprisingly clever
        calendar app.
    </p>
</div>

<div class="video_wrapper">
    <iframe src="//player.vimeo.com/video/69827636" width="500" height="281" webkitallowfullscreen mozallowfullscreen
            allowfullscreen></iframe>
</div>

<div class="general_text">
    <h3>My Role</h3>
    <p>
        In 2013 I joined the company's Android team as a <b>Senior Mobile Developer</b>. <br/>
        In addition to the on-going development on the Any.do to-do list we began the research & development effort to
        build "Cal" for Android. Cal is developed using modern agile methodology - fast iterations and release cycles.
        It uses the most advanced open source tools and frameworks available for modern apps development.
        <br/>
        Cal has a unique user interface, unlike any other mobile application. As such, most UI elements are custom and
        built from scratch.
        <br/><br/>
        Cal is currently being beta tested and will soon be released.
    </p>
</div>

<div class="article_img_container xfader">
    <div class="article_img anydo_bg2"></div>
    <div class="article_img anydo_bg"></div>
</div>

<div class="general_text">
    <h3>Links</h3>
    <ul>
        <li><a href="http://www.any.do">Any.DO official site</a></li>
        <li><a href="https://play.google.com/store/apps/details?id=com.anydo">Any.do on the play store</a></li>
        <li>
            <a href="http://techcrunch.com/2013/05/13/intelligent-to-do-list-app-any-do-raises-3-5-million-will-further-expand-into-personal-productivity-space/">TechCrunch:
                Any.do is the most popular mobile To-Do List app</a></li>
        <li><a href="http://venturebeat.com/2013/05/13/any-do-funding/">VentureBeat: Sleek to-do app Any.Do nabs $3.5M</a>
        </li>
    </ul>
</div>


<% include article_bottom.ejs %>