<% include header.ejs %>

<div class="category_title_container">
    <p class="shiny_category_text">PLAY</p>
    <p class="category_title_text">Cyclo</p>
    <p class="category_subtitle">A Personal Bicycle Coach Through Google Glass</p>
</div>

<p class="general_text">
    Cyclo is a platform for professional bicycle riders. It allows them to plan various aspects of their training:
    route, risks, hydration, nutrition and more. It utilizes the unique characters of Google Glass to deliver a
    streamlined, hands free and context aware experience.
</p>

<div class="video_wrapper">
    <iframe width="560" height="315" src="//www.youtube.com/embed/iFZLFGwyvN0" frameborder="0" allowfullscreen></iframe>
</div>

<p class="general_text">
    Cyclo's prototype paper will be presented at <a href="http://sa2013.siggraph.org/">Siggraph Asia 2013. <br/></a>
    Cyclo was conceived at <a href="#"> UbiComp Oulu, 2013 </a> as part of an Augmented Reality workshop led by <a
            href="">Prof. Mark Billinghurst.</a>
</p>

<h3>My Role</h3>

<h3>The Team</h3>
<ul>
    <li>Tomer Weller</li>
    <li>Florian Daiber</li>
    <li>Gabor Soros</li>
</ul>

<h3>Links</h3>
<ul>
    <li>Cyclo Paper</li>
    <li>Siggraph Page</li>
</ul>

<% include footer.ejs %>