<footer class="container">
    <hr/>
    <div>
        <a href="/">HOME</a> |
        <a href="/#play">PLAY</a> |
        <a href="/#work">WORK</a> |
        <a href="/#learn_teach">LEARN</a> |
        <a href="/#learn_teach">TEACH</a> |
        <a href="#">CV</a>
    </div>
    <p>Tomer Weller © 2013</p>
</footer>

