<% include article_top.ejs %>

<div class="category_title_container">
    <p class="shiny_category_text">WORK</p>
    <p class="category_title_text">HP Software - UCMDB Group</p>
    <p class="category_subtitle">Performance Engineer (PCoE)</p>
</div>

<div class="general_text">
    <h3>About UCMDB</h3>
    <p>
        HP Universal Configuration Management Database (UCMDB) software stores, controls, and manages software and
        infrastructure components along with associated relationships and dependencies. It provides unparalleled
        infrastructure visibility that shows how components are related for consistent and reliable delivery of IT and
        business services. This visibility improves and simplifies change control to avoid service disruptions and
        better track, manage and control IT infrastructures. HP UCMDB software reduces mean time to repair to keep
        operations running more efficiently.
    </p>
</div>

<div class="xfader article_img_container">
    <div class="article_img hp_bg2"></div>
    <div class="article_img hp_bg3"></div>
    <div class="article_img hp_bg5"></div>
</div>

<div class="general_text">
    <h3>My Role</h3>
    <p>In 2010 I began working with the UCMDB PCoE (Performance Center of Excellence) team as a student. The team's
        responsability is the overall performance of the group's products. It does so using the following
        methodology:</p>
    <ol>
        <li>Understand the client environment in which the product will run: IT capabilities, data
            characteristics, work load and most importantly, performance requirements.</li>
        <li>Build the tools needed to simulate this environment.</li>
        <li>Run a load simulation using these tools while monitoring performance.</li>
        <li>Find performance bottlenecks and get to the root cause in collaboration with the appropriate developers</li>
    </ol>
    <br/>
    <p>I rigorously pushed for introduction of newer technologies and more emphasis on front end performance and perceived performance.</p>
</div>

<h3>Links</h3>
<ul>
    <li><a href="http://www8.hp.com/il/en/jobsathp/working-at-hp/hp-in-country.html">HP Software Israel</a></li>
    <li><a href="http://www8.hp.com/il/en/software-solutions/software.html?compURI=1172882#.Ukg_2GS6TWc">HP UCMDB</a></li>
</ul>

<% include article_bottom.ejs %>