<% include article_top.ejs %>

<div class="category_title_container">
    <p class="shiny_category_text"><a href="/">TOMER WELLER</a> / <a href="/#learn_teach">LEARN</a></p>
    <p class="category_title_text">Hebrew University in Jerusalem</p>
    <p class="category_subtitle">Bachelor of Science, Computer Systems Engineering</p>
</div>

<div class="general_text">
    <p>
        In 2011 I completed my Bachelor of Science degree in Computer Systems Engineering at the <b>Computer Science and
        Engineering</b> department at the Hebrew University, Jerusalem. In my 4 year program, In addition to the core
        studies, I majored in the topics of Networking and Information Systems. <br/><br/>
        I completed the program with a GPA of 87 and an excellence award for my final Engineering Project.
    </p>
</div>

<div class="article_img_container">
    <div class="article_img huji2_bg"></div>
</div>

<div class="general_text">
    <h3>Electrical and Computer Engineering Program</h3>

    <p>
        The purpose of the program is to train graduates in the field of electrical and computer engineering, with a
        good technological and scientific background, to be able to contend with research and development, and executive
        management of the changing technological world, and stand at the head of advances projects in the hi-tech and
        computer industry and in the internet environment. The school's vision is that in depth studies of the basics,
        multi-disciplinary education, and a good understanding of the system, will train graduates who are capable of
        coping with the future challenges in the evolving technological world. The classic engineering is going through
        a revolution, much of the hardware is being replaced by software. Moreover, algorithms and computer science play
        a significant role in the development of modern hardware.
    </p>
</div>

<div class="general_text">
    <h3>The Hebrew University in Jerusalem</h3>
    <p>
        The Hebrew University of Jerusalem, founded in 1918 and opened officially in 1925, is Israel’s premier
        university as well as its leading research institution. The Hebrew University is ranked internationally among
        the 100 leading universities in the world and first among Israeli universities.
    </p>
</div>


<div class="general_text">
    <h3>Links</h3>
    <ul>
        <li><a href="http://new.huji.ac.il/en/">The Hebrew University</a></li>
        <li><a href="http://www.cs.huji.ac.il/">The Computer Science and Engineering department</a></li>
    </ul>
</div>


<% include article_bottom.ejs %>