<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tomer Weller - Exploring Context</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="css/bootstrap-theme.css" media="screen">
    <link rel="stylesheet" href="css/custom.css" media="screen">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>

<body>

<div id="title_box">
    <div class="bg_shoulders"></div>
    <div id="title_box_text">
        <div class="shiny_text">TOMER WELLER</div>
        <p class="main_title_text">EXPLORING CONTEXT</p>
        <p class="subtitle">full stack developer seeking a contextual future</p>
    </div>
</div>

<div id="main_content">
<div class="container category_container">
    <div id="life_categories" class="row">
        <div class="col-sm-6 col-md-3 spacer">
            <a onclick="$('#play_container').animatescroll();">
                <div id="play_card" class="category_card">
                    <div class="xfader">
                        <div class="cell_bg paradroid_bg1"></div>
                        <div class="cell_bg paradroid_bg2"></div>
                        <div class="cell_bg su_bg"></div>
                    </div>
                    <H2>PLAY</H2>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-3 spacer">
            <a onclick="$('#work_container').animatescroll();">
                <div class="category_card">
                    <div class="xfader">
                        <div class="cell_bg anydo_bg"></div>
                        <div class="cell_bg attentiv_bg"></div>
                        <div class="cell_bg hp_bg"></div>
                    </div>
                    <H2>WORK</H2>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-3 spacer">
            <a onclick="$('#learn_container').animatescroll();">
                <div class="category_card">
                    <div class="xfader">
                        <div class="cell_bg huji1_bg"></div>
                        <div class="cell_bg huji2_bg"></div>
                        <div class="cell_bg oulu_bg"></div>
                    </div>
                    <H2>LEARN</H2>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-3 spacer">
            <a onclick="$('#teach_container').animatescroll();">
                <div class="category_card">
                    <div class="xfader">
                        <div class="cell_bg shenkar_bg"></div>
                        <div class="cell_bg campus_bg"></div>
                    </div>
                    <H2>TEACH</H2>
                </div>
            </a>
        </div>

    </div>
</div>

<div id="play_container" class="category_container container">
    <p class="category_title">PLAY</p>
    <HR/>
    <div class="row">
        <div class="col-sm-4 spacer">
            <a href="/seer">
                <div>
                    <div class="project_card_image seer_bg"></div>
                    <div class="project_card_text_container">
                        <p class="project_card_title">SEER</p>
                        <p class="project_card_description ellipsis">
                            A speed dialer application for Android. Seer predicts your next call based on a patented
                            machine learning algorithm which takes into account your call log history and your current
                            context - time and location.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-8 spacer">
            <a href="/cyclo">
                <div>
                    <div class="project_card_image cyclo_bg"></div>
                    <div class="project_card_text_container">
                        <p class="project_card_title">CYCLO</p>
                        <p class="project_card_description">
                            Cyclo is a training platform for professional bicycle riders. It allows them to plan various
                            aspects of their training: route, risks, hydration, nutrition and more. It utilizes the
                            unique characters of Google Glass to deliver a streamlined, hands free and context aware
                            experience.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-8 spacer">
            <a href="/paradroid">
                <div>
                    <div class="project_card_image paradroid_bg4"></div>
                    <div class="project_card_text_container">
                        <p class="project_card_title">PARADROID</p>
                        <p class="project_card_description">
                            Paradroid is a self navigating, skydiving robot controlled by an onboard android handset.
                            Simply choose your destination and throw it from a high place. Paradroid will skydive and
                            navigate to your destination while sending online status reports.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4 spacer">
            <a href="/social_urinal">
                <div>
                    <div class="project_card_image su_bg"></div>
                    <div class="project_card_text_container">
                        <p class="project_card_title">SOCIAL URINAL</p>
                        <p class="project_card_description">
                            The Social Urinal is a (semi-comical) experiment testing the boundaries of the social graph.
                            A public urinal that uses face recognition to identify a "user" and send statistical
                            information regarding their performance to facebook. i.e: "Tomer Weller has urinated 50cc
                            at GeekCon using the Social Urinal".
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div id="work_container" class="container category_container">
    <p class="category_title">WORK</p>
    <HR/>
    <div class="row">
        <div class="col-sm-6">
            <a href="/intel">
                <div>
                    <div class="project_card_image shenkar_bg"></div>
                    <div class="project_card_text_container">
                        <p class="project_card_title">Researcher - Intel ICRCI</p>
                        <p class="project_card_description ellipsis">
                            The Intel Collaboration Research Institute for Computational Intelligence</b> is focused on machine learning,
                            brain inspired computing and heterogeneous computer architecture. The institute is based in Israel at the Technion
                            in Haifa and the Hebrew University in Jerusalem (HUJI) and include researchers also from Bar-Ilan University,
                            the Weitzman Institute and the Shenkar college. The center is mainly affiliated with the Intel Lab System on
                            Chip Platform Architecture Lab The center was inaugurated on May 22, 2012.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="/anydo">
                <div>
                    <div class="project_card_image anydo_bg"></div>
                    <div class="project_card_text_container">
                        <p class="project_card_title">Senior Mobile Developer - Any.DO</p>
                        <p class="project_card_description ellipsis">
                            Any.do is a family of apps designed to help have a good day, every day. The team started with solving the
                            problem
                            of day to day productivity with the Any.do to-do list. In less than a year, Any.do has become the most popular
                            task
                            management app on mobile. The app currently helps millions in getting more organized while feeling satisfied
                            with
                            their everyday life. In June of 2013 the company has announced it’s next product: Cal - a simple, fun and
                            surprisingly clever
                            calendar app.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="/logicalls">
                <div>
                    <div class="project_card_image attentiv_bg"></div>
                    <div class="project_card_text_container">
                        <p class="project_card_title">Full Stack Developer - Atentiv</p>
                        <p class="project_card_description ellipsis">
                            Attentiv is a revolutionary app for Android that allows you to manage your missed calls and text messages in a
                            way that will simply make your life easier.
                            Attentive assistant automatically creates a "loose end" any time you miss a call, reject a call, or if you make
                            a call that isn't answered, and reminds you to follow up later according to your schedule.
                            Logicalls was funded by angels Benny Levin and Jeff Pulver.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="/hp">
                <div>
                    <div class="project_card_image hp_bg"></div>
                    <div class="project_card_text_container">
                        <p class="project_card_title">Performance Engineer - HP Software</p>
                        <p class="project_card_description ellipsis">
                            Extend the social graph to the last frontier Lorem ipsum
                            dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div id="learn_container" class="category_container container">
    <p class="category_title">LEARN</p>
    <HR/>
    <div class="row">
        <div class="col-sm-8">
            <div class="project_card">
                <div class="hp_bg cell_bg"></div>
                <H2>Hebrew Uniersity</H2>

                <H3>Bachelor of Science - Computer Software Engineering</H3>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="project_card">
                <div class="oulu_bg3 cell_bg"></div>
                <H2>Oulu University </H2>

                <H3>UbiComp Summer School</H3>
            </div>
        </div>
    </div>
</div>

<div id="teach_container" class="category_container container">
    <p class="category_title">TEACH</p>
    <HR/>
    <div class="row">
        <div class="col-sm-4">
            <div class="project_card">
                <div class="campus_bg cell_bg"></div>
                <H2>Google Campus TLV</H2>

                <H3>Strartups Mentor</H3>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="project_card">
                <div class="shenkar_bg cell_bg"></div>
                <H2>Shenkar</H2>

                <H3>Mobile Technologies Teacher</H3>
            </div>
        </div>
    </div>
</div>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<script src="js/jquery.transit.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.autoellipsis-1.0.10.min.js"></script>
<script src="js/animatescroll.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>

<!--#include virtual="seer.html"-->

<!--TODO: implement-->
<script>
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
                function () {
                    (b[l].q = b[l].q || []).push(arguments)
                });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>
</body>
</html>