<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <link rel="stylesheet" type="text/css" href="public/css/custom.css"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tomer Weller - Exploring Context</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="css/bootstrap-theme.css" media="screen">
    <link rel="stylesheet" href="css/custom.css" media="screen">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>

<body>

<div id="title_box">
    <div class="bg_shoulders"></div>
    <div class="bg_opaque"></div>
    <div class="contact_cv">
        <a href="mailto:tomer.weller@gmail.com">CONTACT</a> |
        <a href="/tomerweller_cv_november_2013.pdf">CV</a>
    </div>
    <div id="title_box_text">
        <div class="shiny_text">TOMER WELLER</div>
        <p class="main_title_text">EXPLORING CONTEXT</p>
        <p class="subtitle">full stack developer seeking a contextual future</p>
    </div>
</div>

<div id="main_content">
<div class="container category_container">
    <div id="life_categories" class="row">
        <div class="col-sm-6 col-md-3 spacer">
            <a href="#" onclick="$('#play').animatescroll();">
                <div id="play_card" class="category_card">
                    <div class="xfader">
                        <div class="cell_bg paradroid_bg1"></div>
                        <div class="cell_bg glass_bg"></div>
                        <div class="cell_bg paradroid_bg2"></div>
                        <div class="cell_bg su_bg"></div>
                    </div>
                    <div class="bg_opaque_strong"></div>
                    <H2>PLAY</H2>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-3 spacer">
            <a href="#" onclick="$('#work').animatescroll();">
                <div class="category_card">
                    <div class="xfader">
                        <div class="cell_bg anydo_bg"></div>
                        <div class="cell_bg hp_bg"></div>
                        <div class="cell_bg attentiv_bg"></div>
                    </div>
                    <div class="bg_opaque_strong"></div>
                    <H2>WORK</H2>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-3 spacer">
            <a href="#" onclick="$('#learn_teach').animatescroll();">
                <div class="category_card">
                    <div class="xfader">
                        <div class="cell_bg huji1_bg"></div>
                        <div class="cell_bg huji2_bg"></div>
                        <div class="cell_bg oulu_bg"></div>
                    </div>
                    <div class="bg_opaque_strong"></div>
                    <H2>LEARN</H2>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-3 spacer">
            <a href="#" onclick="$('#learn_teach').animatescroll();">
                <div class="category_card">
                    <div class="xfader">
                        <div class="cell_bg shenkar_bg"></div>
                        <div class="cell_bg shenkar_bg3"></div>
                        <div class="cell_bg shenkar_bg2"></div>
                    </div>
                    <div class="bg_opaque_strong"></div>
                    <H2>TEACH</H2>
                </div>
            </a>
        </div>

    </div>
</div>

<div id="play" class="category_container container">
    <p class="category_title">PLAY</p>
    <HR/>
    <div class="row">
        <div class="col-sm-6 col-md-4 spacer">
            <a href="/seer">
                <div>
                    <div class="project_card_image seer_bg"></div>
                    <div class="project_card_text_container">
                        <p class="project_card_title">SEER - PREDICTIVE DIALER</p>
                        <p class="project_card_description ellipsis">
                            A speed dialer application for Android. Seer predicts your next call based on a patented
                            machine learning algorithm which takes into account your call log history and your current
                            context - time and location.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-8 spacer">
            <a href="/cyclo">
                <div>
                    <div class="project_card_image cyclo_bg"></div>
                    <div class="project_card_text_container">
                        <p class="project_card_title">CYCLO - GLASS BICYCLE COACH</p>
                        <p class="project_card_description">
                            Cyclo is a training platform for professional bicycle riders. It allows them to plan various
                            aspects of their training: route, risks, hydration, nutrition and more. It utilizes the
                            unique characters of Google Glass to deliver a streamlined, hands free and context aware
                            experience.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-8 spacer">
            <a href="/paradroid">
                <div>
                    <div class="project_card_image paradroid_bg4"></div>
                    <div class="project_card_text_container">
                        <p class="project_card_title">PARADROID - SKYDIVING ANDROID</p>
                        <p class="project_card_description">
                            Paradroid is a self navigating, skydiving robot controlled by an onboard android handset.
                            Simply choose your destination and throw it from a high place. Paradroid will skydive and
                            navigate to your destination while sending online status reports.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 spacer">
            <a href="/social_urinal">
                <div>
                    <div class="project_card_image su_bg"></div>
                    <div class="project_card_text_container">
                        <p class="project_card_title">SOCIAL URINAL</p>
                        <p class="project_card_description">
                            The Social Urinal is a (semi-comical) experiment testing the boundaries of the social graph.
                            A public urinal that uses face recognition to identify a "user" and send statistical
                            information regarding their performance to facebook. i.e: "Tomer Weller has urinated 50cc
                            at GeekCon using the Social Urinal".
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div id="work" class="container category_container">
    <p class="category_title">WORK</p>
    <HR/>
    <div class="row">
        <div class="col-sm-6">
            <a href="/intel">
                <div>
                    <div class="project_card_image intel_bg3"></div>
                    <div class="project_card_text_container">
                        <p class="project_card_title">Research Assistant - Intel ICRCI</p>
                        <p class="project_card_description ellipsis">
                            The Intel Collaboration Research Institute for Computational Intelligence</b> is focused on machine learning,
                            brain inspired computing and heterogeneous computer architecture. The institute is based in Israel at the Technion
                            in Haifa and the Hebrew University in Jerusalem (HUJI) and include researchers also from Bar-Ilan University,
                            the Weitzman Institute and the Shenkar college. The center is mainly affiliated with the Intel Lab System on
                            Chip Platform Architecture Lab The center was inaugurated on May 22, 2012.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="/anydo">
                <div>
                    <div class="project_card_image anydo_bg"></div>
                    <div class="project_card_text_container">
                        <p class="project_card_title">Senior Mobile Developer - Any.DO</p>
                        <p class="project_card_description ellipsis">
                            Any.do is a family of apps designed to help have a good day, every day. The team started with solving the
                            problem
                            of day to day productivity with the Any.do to-do list. In less than a year, Any.do has become the most popular
                            task
                            management app on mobile. The app currently helps millions in getting more organized while feeling satisfied
                            with
                            their everyday life. In June of 2013 the company has announced it’s next product: Cal - a simple, fun and
                            surprisingly clever
                            calendar app.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="/logicalls">
                <div>
                    <div class="project_card_image attentiv_bg"></div>
                    <div class="project_card_text_container">
                        <p class="project_card_title">Full Stack Developer - Atentiv</p>
                        <p class="project_card_description ellipsis">
                            Attentiv is a revolutionary app for Android that allows you to manage your missed calls and text messages in a
                            way that will simply make your life easier.
                            Attentive assistant automatically creates a "loose end" any time you miss a call, reject a call, or if you make
                            a call that isn't answered, and reminds you to follow up later according to your schedule.
                            Logicalls was funded by angels Benny Levin and Jeff Pulver.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="/hp">
                <div>
                    <div class="project_card_image hp_bg"></div>
                    <div class="project_card_text_container">
                        <p class="project_card_title">Performance Engineer - HP Software</p>
                        <p class="project_card_description ellipsis">
                            HP Universal Configuration Management Database (UCMDB) software stores, controls, and manages software and
                            infrastructure components along with associated relationships and dependencies. It provides unparalleled
                            infrastructure visibility that shows how components are related for consistent and reliable delivery of IT and
                            business services. This visibility improves and simplifies change control to avoid service disruptions and
                            better track, manage and control IT infrastructures. HP UCMDB software reduces mean time to repair to keep
                            operations running more efficiently.
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div id="learn_teach" class="category_container container">
    <p class="category_title">LEARN/TEACH</p>
    <HR/>
    <div class="row">
        <div class="col-sm-6 col-md-8">
            <a href="/shenkar">
                <div>
                    <div class="project_card_image shenkar_bg2"></div>
                    <div class="project_card_text_container">
                        <p class="project_card_title">Shenkar - Teaching Assistant</p>
                        <p class="project_card_description ellipsis">
                            In 2012 I was invited by Dr. Amnon Dekel, head of the Computer Systems Engineering
                            department in Shenkar college of Engineering and Design, to assist in building the feasible
                            part of the department's post-pc, mobile centric, courses.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a href="/oulu">
                <div>
                    <div class="project_card_image oulu_bg"></div>
                    <div class="project_card_text_container">
                        <p class="project_card_title">UBIComp Summer School 2013</p>
                        <p class="project_card_description ellipsis">
                            The 4th International UBI Summer School 2013 was held in Oulu, Finland, on June 10-15, 2013.
                            The summer school provided young researchers with an opportunity to gain hands on experience
                            and insight on selected topics on the multidisciplinary fields of ubiquitous computing and
                            urban informatics under the tutelage of distinguished experts.
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="/huji">
                <div>
                    <div class="project_card_image huji1_bg"></div>
                    <div class="project_card_text_container">
                        <p class="project_card_title">BSc in CSE - Hebrew University in Jeruslaem</p>
                        <p class="project_card_description ellipsis">
                            In 2011 I completed my Bachelor of Science degree in Computer Systems Engineering at the
                            Computer Science and Engineering department at the Hebrew University, Jerusalem. In my 4
                            year program, In addition to the core studies I majored in the topics of Networking and
                            Information Systems.
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<% include footer.ejs%>
</div>



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<script src="js/jquery.transit.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.autoellipsis-1.0.10.min.js"></script>
<script src="js/animatescroll.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-44438132-1']);
    _gaq.push(['_setDomainName', 'tomerweller.com']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
</html>