<% include header.ejs %>

<div class="category_title_container">
    <p class="shiny_category_text">WORK</p>
    <p class="category_title_text">Logicalls</p>
    <p class="category_subtitle">Full Stack Developer</p>
</div>

<div class="general_text">
    <h3>About the Attentiv App</h3>
    <p>
        Attentiv is a revolutionary app for Android that allows you to manage your missed calls and text messages in a
        way that will simply make your life easier.
        Attentive assistant automatically creates a "loose end" any time you miss a call, reject a call, or if you make
        a call that isn't answered, and reminds you to follow up later according to your schedule.
        Logicalls was funded by angels Benny Levin and Jeff Pulver.
    </p>
</div>

<div class="article_img attentiv_bg3"></div>

<div class="general_text">
    <h3>My Role</h3>
    <p>
        I joined Logicalls at the very beginning of the company (2011) as a part time student job. I quickly took charge
        of the entire technological development operation and became a full time partner in the company. As a full stack
        developer I led and took part all aspects of the system: web, mobile and cloud.
    </p>

    <h3>Achievements</h3>
    <ul>
        <li> Build a scalabale backend to support hundreds of requests per seconds and allowing sync across multiple device
            using <a href="https://developers.google.com/appengine/">Google App Engine.</a></li>
        <li>Build a modern web dashboard to remote control an android device using modern front end development tools.</li>
        <li>Participate in building the mobile app and it's robust backend syncing mechanism.</li>
    </ul>

</div>

<h3>Links</h3>
<ul>
    <li><a href="https://play.google.com/store/apps/details?id=com.attentiv">Attentiv on the play store</a></li>
    <li><a href="https://angel.co/jeff-pulver">Jeff Pulver profile</a></li>
    <li><a href="http://www.startupfactory.co.il/?CategoryID=160&ArticleID=169">Benny Levin profile</a></li>
</ul>

<% include footer.ejs %>