<% include article_top.ejs %>

<div class="category_title_container">
    <p class="shiny_category_text"><a href="/#learn_teach">LEARN</a></p>
    <p class="category_title_text">Oulu University, Finland</p>
    <p class="category_subtitle">UBIComp Summer School 2013</p>
</div>

<div class="general_text">
    <h3></h3>
    <p>
    </p>
</div>

<div class="general_text">
    <h3>My Role</h3>
    <p>
    </p>
</div>

<div class="general_text">
    <h3>Links</h3>
    <ul>
    </ul>
</div>


<% include article_bottom.ejs %>