<% include article_top.ejs %>

<div class="category_title_container">
    <p class="shiny_category_text"><a href="/">TOMER WELLER</a> / <a href="/#learn_teach">LEARN</a></p>
    <p class="category_title_text">UBI Summer School</p>
    <p class="category_subtitle">Oulu University, Finland</p>
</div>

<div class="general_text">
    <p>
        In 2013 I attended the 4th International UBI Summer School and took part at the "Designing Mobile Augmented
        Reality Interfaces" workshop. The result of this workshop is the <a href="/cyclo">Cyclo </a>
        paper which will be presented at Siggraph Asia 2013
    </p>
</div>

<div class="xfader article_img_container">
    <div class="article_img oulu_bg"></div>
    <div class="article_img oulu_bg3"></div>
    <div class="article_img oulu_bg4"></div>
    <div class="article_img oulu_bg8"></div>
</div>

<div class="general_text">
    <h3>About</h3>
    <p>
        The 4th International UBI Summer School 2013 was held in Oulu, Finland, on June 10-15, 2013. The summer school
        provided young researchers with an opportunity to gain hands on experience and insight on selected topics on the
        multidisciplinary fields of ubiquitous computing and urban informatics under the tutelage of distinguished
        experts.
    </p>
</div>

<div class="general_text">
    <h3>Designing Mobile Augmented Reality Interfaces</h3>
    <p>
        Augmented Reality (AR) is a technology that allows digital content to be seamlessly blended with the real world.
        There are many possible applications for the technology such as providing virtual cues for outdoor navigation,
        AR enhanced textbooks for education, or new types of pervasive gaming, among others. AR also provides a way to
        visualize ubiquitous sensor information and so is an important technology for Ubiquitous Computing.
        <br/>
        <br/>
        In recent years, the emergence of smart phones with cameras, GPS and inertial sensors on them have meant that AR
        experiences can be delivered on everyday consumer devices. Mobile AR has become one of the fastest growing
        mobile phone application areas with hundreds of applications available for download and a commercial market
        projected to grow to over $1.5 Billion USD by 2015.
        <br/>
        <br/>
        This workshop provided a hands-on introduction to how to build AR experiences for Android and iOS devices. Using
        the freely available Junaio platform experiment with Google Glass. To do this they will also learn about the
        current state of the art for mobile AR, AR interface guidelines, AR authoring tools, and important areas for
        future research.
    </p>
</div>


<div class="general_text">
    <h3>Links</h3>
    <ul>
        <li><a href="http://www.ubioulu.fi/en/UBI-summer-school-2013">4th International UBI Summer School 2013</a></li>
        <li><a href="http://www.ubioulu.fi/en/UBI-summer-school-2013-workshops#BW">
                Designing Mobile Augmented Reality Interfaces
        </a></li>
    </ul>
</div>


<% include article_bottom.ejs %>