<% include article_top.ejs %>

<div class="category_title_container">
    <p class="shiny_category_text"><a href="/">TOMER WELLER</a> / <a href="/#play">PLAY</a></p>
    <p class="category_title_text">Paradroid</p>
    <p class="category_subtitle">Self Navigating, Skydiving Android</p>
</div>

<p class="general_text">
    Paradroid is a self navigating, skydiving robot controlled by an onboard android handset. Simply choose your
    destination and throw it from a high place. Paradroid will skydive and navigate to your destination while sending
    online status reports. <br/>
    Paradroid has been tested and proven to work from heights of over 1000ft, dropped by a skydiver host.
</p>
<!--</p>-->

<div class="video_wrapper">
    <iframe src="//player.vimeo.com/video/32013118" width="500" height="281" frameborder="0" webkitallowfullscreen
            mozallowfullscreen allowfullscreen></iframe>
    <p><a href="http://vimeo.com/32013118">Paradroid - Skydiving Android</a> from <a
                href="http://vimeo.com/user9251798">Tomer Weller</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
</div>

<p class="general_text">
    Paradroid started out as a project for Google Developer's day 2011 <em>"ADK challenge"</em>. The challenge called
    for developers to find creative ways to use Android's (then) new open accessory development api. This api allows for
    micro controllers to be connected to an android device and be used natively. <br/>
    Paradroid has received world wide attention and press coverage.
</p>

<div class="article_img_container xfader">
    <div class="article_img paradroid_bg1"></div>
    <div class="article_img paradroid_bg2"></div>
    <div class="article_img paradroid_bg3"></div>
    <div class="article_img paradroid_bg4"></div>
</div>

<h3>The Team</h3>
<ul>
    <li><a href="/">Tomer Weller</a> - Software (end to end), Algorithm</li>
    <li><a href="http://il.linkedin.com/pub/yossi-sorin"> Yossi Sorin</a> - Hardware, Manufacturing, Improvisation</li>
</ul>

<h3>Links</h3>
<ul>
    <li><a href="http://www.para-droid.com">Paradroid official Blog</a></li>
    <li><a href="http://www.androidpolice.com/2011/11/14/video-paradroid-is-a-self-navigating-skydiving-robot-controlled-by-an-onboard-android-handset/">Android Police Coverage</a></li>
</ul>

<% include article_bottom.ejs %>