<% include header.ejs %>

<div class="category_title_container">
    <p class="shiny_category_text">PLAY</p>
    <p class="category_title_text">SEER</p>
    <p class="category_subtitle">Predictive speed dialer</p>
</div>

<p class="general_text">
    A speed dialer application for Android. Seer predicts your next call based on a patented machine learning algorithm
    which takes into account your call log history and your current context - time and location.
</p>

<div class="article_img seer_bg"></div>

<p class="general_text">
    The SEER algorithm was patented in the Hebrew University by Assif Ziv and Ohad Assoulin in 2011. In 2013 I was
    invited by Assif to resurrect Seer and turn it into a viable commercial app. I brought my expertise in modern mobile
    applications and agile development.
</p>

<p class="general_text">
    Seer is currently in wide scale public beta. It's supported by "Yissom", the Hebrew University's technology transfer
    company
</p>

<h3>The Team</h3>
<ul>
    <li>Assif Ziv</li>
    <li>Tomer Weller</li>
    <li>Yinon Masad</li>
</ul>

<h3>Links</h3>
<ul>
    <li>SEER on the play store</li>
    <li>SEER patent page</li>
</ul>

<% include footer.ejs %>