<% include article_top.ejs %>

<div class="category_title_container">
    <p class="shiny_category_text"><a href="/">TOMER WELLER</a> / <a href="/#learn_teach">TEACH</a></p>
    <p class="category_title_text">Shenkar / Mobile Development</p>
    <p class="category_subtitle">Teaching Assistant</p>
</div>

<div class="general_text">
    <h3></h3>

    <p>
    </p>
</div>

<div class="general_text">
    <h3>Software Engineering at Shenkar - Vision</h3>
    <p>
        To educate and train tomorrow’s Software Engineers in the areas of Software Systems Planning, Design,
        Development, Testing, Deployment and Maintenance, while exposing them to the important areas of Product Design,
        Project Management, Applied Research and Entrepreneurship.
    </p>
</div>

<div class="xfader article_img_container">
    <div class="article_img shenkar_bg1"></div>
    <div class="article_img shenkar_bg2"></div>
    <div class="article_img shenkar_bg3"></div>
</div>

<div class="general_text">
    <h3>My Role</h3>
    <p>
        In 2012 I was invited by Dr. Amnon Dekel, head of the Computer Systems Engineering
        department in Shenkar college of Engineering and Design, to assist in building the feasible
        part of the department's post-pc, mobile centric, courses.
        <br/><br/>
        I built from scratch the practical training for the courses <b>Mobile 1 - Introduction to mobile computing</b>
        and <b>Mobile 2 - Advanced topics in mobile computing</b> based on my industry knowledge, focused on training
        industry viable developers.
    </p>
</div>

<div class="general_text">
    <h3>Links</h3>
    <ul>
        <li><a href="http://www.shenkar.ac.il/english/home/">Shenkar College of Engineering and Design</a></li>
    </ul>
</div>


<% include article_bottom.ejs %>