<% include header.ejs %>

<div class="category_title_container">
    <p class="shiny_category_text">PLAY</p>

    <p class="category_title_text">Social Urinal</p>

    <p class="category_subtitle">Expanding The Social Graph Into The Urinal</p>
</div>

<p class="general_text">
    The Social Urinal is a (semi-comical) experiment testing the boundaries of the social graph. A public urinal that
    uses face recognition to identify a "user" and send statistical information regarding their performance to facebook.
    i.e: <b> "Tomer Weller has urinated 50cc at GeekCon using the Social Urinal". </b>
</p>
<!--</p>-->


<div class="article_img su_bg"></div>

<p class="general_text">
    The Social Urinal was built at GeekCon 2012. GeekCon is an annual weekend long gathering in Israel. It gathers
    technically oriented creative talented people to think, create and deploy ideas.
</p>

<p class="general_text">
    The Social Urinal is a front to back webapp which uses Chrome's latest <a
            href="http://developer.chrome.com/apps/serial.html">"Serial"</a> interface to read data directly
    from a connected arduino micro-controller without requiring proprietary drivers or native software.
    <br/>
    <br/>
    Facebook has rejected our proposed "Urination" open graph object :)
</p>

<h3>The Team</h3>
<ul>
    <li>Tomer Weller</li>
    <li>Yossi Sorin</li>
    <li>Abhishek</li>
</ul>

<h3>Links</h3>
<ul>
    <li>Geekcon</li>
    <li>Social Urinal on local press</li>
</ul>

<% include footer.ejs %>