<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>

  <% bla = "bla1"; x = "A"%>
  <% include test.ejs%>

  <% var bla = "bla2"; x = "B"%>
  <% include test.ejs%>

  <% var bla = "bla3"; x = "C"%>
  <% include test.ejs%>

</html>