body{
    background: #F2F2F2;
}

.courrier_new{
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.helvetica{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

H2{
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-size: 24px;
}

.category_title{
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-size: 24px;
}

.bg_shoulders {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/tomer-minified.jpg") center;
    background-size: cover;
    z-index: -1;
    -webkit-filter: brightness(0.8);
}

#title_box {
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    height: 345px;
    /*padding-top: 100px;*/
    /*padding-bottom: 100px;*/
    width: 100%;
    color: #ffffff;
    z-index: -2;
}

.main_title_text {
    font-size: 4em;
    margin-bottom: 0;
    line-height: 50px;
    padding-top: 15px;
    padding-bottom: 10px;
}



.category_card {
    text-align: center;
    z-index: 1;
    color: #ffffff;
    padding: 70px;
    /*margin-top: 30px;*/
    /*margin-bottom: 30px;*/
}

.shiny_text {
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    padding: 5px 10px;
    font-size: 16px;
    background: #fefe00;
    display: inline-block;
    color: #000000;
}
.H2 {
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif !important;
    font-size: 10em !important;
}

#category_play_container {
    background: url("../img/category_play_para1.jpeg") center;
    background-size: cover;}

#category_work_container {
    background: url("../img/cal-iphone.jpg") center;
    background-size: cover;
}

#category_teach_container {
    background: url("../img/hp.jpg") center;
    background-size: cover;
}

.category_image {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
}

#categories_row {
    margin-top: 0px;
}

#life_categories {
    margin-top: 70px;
}

.project_card {
    text-align: center;
    z-index: 1;
    color: #ffffff;
    padding: 90px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100%;
}

.seer_bg {
    background: url("../img/seer_2.png") center;
    background-size: cover;
}

.paradroid_bg1 {
    background: url("../img/para_droid_1.jpg") center;
    background-size: cover;
}

.paradroid_bg2 {
    background: url("../img/para_droid_2.jpg") center;
    background-size: cover;
}

.paradroid_bg3 {
    background: url("../img/paradroid3.jpg") center;
    background-size: cover;
}

.paradroid_bg4 {
    background: url("../img/paradroid4.jpg") center;
    background-size: cover;
}

.anydo_bg {
    background: url("../img/cal-iphone.jpg") center;
    background-size: cover;
}

.anydo_bg2 {
    background: url("../img/anydo-android.jpg") center;
    background-size: cover;
}
.attentiv_bg {
    background: url("../img/attentiv1.jpg") center;
    background-size: cover;
}

.attentiv_bg2 {
    background: url("../img/attentiv2.jpg") center;
    background-size: cover;
}

.attentiv_bg3 {
    background: url("../img/attentiv3.jpg") center;
    background-size: cover;
}

.shenkar_bg {
    background: url("../img/shenkar.jpg") center;
    background-size: cover;
}

.huji1_bg {
    background: url("../img/huji.jpg") center;
    background-size: cover;
}

.huji2_bg {
    background: url("../img/huji2.jpg") center;
    background-size: cover;
}

.oulu_bg {
    background: url("../img/oulu1.jpg") center;
    background-size: cover;
}

.oulu_bg3 {
    background: url("../img/oulu3.jpg") center;
    background-size: cover;
}

.glass_bg {
    background: url("../img/gglass.jpg") center;
    background-size: cover;
}

.hp_bg {
    background: url("../img/hp.jpg") center;
    background-size: cover;
}

.hp_bg2{
    background: url("../img/hp2.png") center;
    background-size: cover;
}

.hp_bg3{
    background: url("../img/hp3.jpg") center;
    background-size: cover;
}

.cyclo_bg {
    background: url("../img/cyclo_1.png") center;
    background-size: cover;
}

.su_bg {
    background: url("../img/social_urinal_portrait_min.jpg") center;
    background-size: cover;
}

.campus_bg {
    background: url("../img/campus2.png") center;
    background-size: cover;
}

.cell_bg {
    background-color: #779988;
    background-size: cover;
    -webkit-filter: brightness(0.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 10px 15px;
    z-index: -1;
}

.bg_image {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: auto;
    margin: 10px 15px;
    z-index: -1;
    overflow: hidden;
}

.test {
    position: relative;
}

.project_card_image {
    height: 250px;
}

.project_card_text_container {
    background: #ffffff;
    padding: 10px;
    text-decoration: none;
    margin-bottom: 20px;
}

.project_card_title {
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif !important;
    font-size: 14px;
    margin: 0;
    letter-spacing: 0;
}

.project_card_description {
    font-size: 14px;
    margin: 0;
    white-space:normal;
    text-overflow: ellipsis;
    height: 48px;
    overflow: hidden;
}

.article_img{
    width: 100%;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.general_text{
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 50px;
}

li {
    font-size: 18px;
}

.article_container {
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}



.subtitle {
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.category_subtitle {
    font-size: 20px;
}

.spacer {
    margin-bottom: 10px;
}

hr {
    border: none;
    height: 1px;
    color: lightgray;
    background-color: lightgray;
}

.article a{
    color: teal;
    text-decoration: underline;
}


.shiny_category_text {
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    padding: 5px 10px;
    font-size: 16px;
    background: #fefe00;
    display: inline-block;
    color: #000000;
}

.category_title_text {
    font-size: 4em;
    margin-bottom: 0;
    line-height: 50px;
    /*padding-top: 15px;*/
    padding-bottom: 10px;
}

.category_container {
    margin-bottom: 60px !important;
}

.category_title_container {
    margin-top: 60px;
}

#main_content {
    position: relative;
    margin-top: 345px;
    z-index: 2;
    background: #F2F2F2;
}

#title_box_text {
    position: relative;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-webkit-transform: translate(0, -50%);
    -ms-webkit-transform: translate(0, -50%);
    -o-webkit-transform: translate(0, -50%);
    webkit-transform: translate(0, -50%);
}

.video_wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.video_wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

ul {
    list-style-type: katakana;
}

ol {
    list-style-type: katakana;
}

footer{
    color: darkgray;
    text-align: center;
    font-size: 16px;
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}